/* DASHBOARD */
.dashboard td,
.dashboard th {
    word-break: break-word; /* Allows breaking long words */
}

.dashboard .module table {
    width: 100%; /* Ensures table takes full width */
}

.dashboard .module table td {
    white-space: nowrap; /* Prevents text from wrapping */
}

.dashboard .module table td a {
    display: block; /* Makes the link fill the cell */
    padding-right: 0.6em; /* Right padding for links */
}

/* RECENT ACTIONS MODULE */
.module ul.actionlist {
    margin-left: 0; /* Resets margin for the action list */
}

ul.actionlist {
    list-style-type: none; /* Removes default list styling */
}

ul.actionlist li {
    overflow: hidden; /* Ensures overflow is hidden */
    text-overflow: ellipsis; /* Adds ellipsis for overflow text */
}
