/* GLOBAL */
th {
    text-align: right;
}

.module h2, .module caption {
    text-align: right;
}

.module ul, .module ol {
    margin-left: 0;
    margin-right: 1.5em;
}

.viewlink, .addlink, .changelink, .hidelink, .deletelink {
    padding: 0 16px 0 0;
    background-position: 100% 1px;
}

.object-tools {
    float: left;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none;
}

/* LAYOUT */
#user-tools {
    right: auto;
    left: 0;
    text-align: left;
}

div.breadcrumbs {
    text-align: right;
}

#content-main {
    float: right;
}

#content-related {
    float: left;
    margin: 0 -300px auto 0;
}

.colMS {
    margin-left: 300px;
}

/* SORTABLE TABLES */
table thead th.sorted .sortoptions {
   float: left;
}

thead th.sorted .text {
    padding-right: 0;
    padding-left: 42px;
}

/* DASHBOARD STYLES */
.dashboard .module table td a {
    padding: 0.6em 16px;
}

/* CHANGELISTS STYLES */
.change-list .filtered table {
    border-left: none;
    border-right: none;
}

#changelist-filter {
    border-left: none;
    border-right: none;
    margin: 0 30px 0 0;
}

#changelist-filter li.selected {
    border-left: none;
    padding: 0 10px;
    border-right: 5px solid var(--hairline-color);
}

#changelist table tbody td:first-child,
#changelist table tbody th:first-child {
    border: none;
}

.paginator .end {
    margin-left: 6px;
}

.paginator input {
    margin-left: 0;
    margin-right: auto;
}

/* FORMS */
.aligned label {
    padding: 0 0 3px 1em;
}

.submit-row a.deletelink {
    margin-left: 0;
    margin-right: auto;
}

.vDateField, .vTimeField {
    margin-left: 2px;
}

.aligned .form-row input {
    margin-left: 5px;
}

form .aligned ul {
    margin: 0 0 0 0;
    padding: 0 10px 0 0;
}

form ul.inline li {
    float: right;
    padding-left: 7px;
}

form .aligned p.help,
form .aligned div.help {
    margin: 0 160px 0 0;
    padding-right: 10px;
}

form div.help ul,
form .aligned .checkbox-row + .help,
form .aligned p.date div.help.timezonewarning,
form .aligned p.datetime div.help.timezonewarning,
form .aligned p.time div.help.timezonewarning {
    margin-right: 0;
    padding-right: 0;
}

form .wide p.help,
form .wide ul.errorlist,
form .wide div.help {
    padding: 0 50px 0 0;
}

.submit-row {
    text-align: right;
}

fieldset .fieldBox {
    margin: 0 0 0 20px;
}

.errorlist li,
.errornote {
    padding: 10px 12px;
}

.errorlist li {
    background-position: 100% 12px;
}

.errornote {
    background-position: 100% 12px;
}

/* WIDGETS */
.calendarnav-previous {
    top: 0;
    right: 10px;
    background: url(../img/calendar-icons.svg) 0 -15px no-repeat;
}

.calendarnav-next {
    top: 0;
    left: 10px;
    background: url(../img/calendar-icons.svg) 0 0 no-repeat;
}

.calendar caption, .calendarbox h2 {
    text-align: center;
}

.selector {
    float: right;
}

.selector .selector-filter {
    text-align: right;
}

.selector-add {
    background: url(../img/selector-icons.svg) 0 -64px no-repeat;
}

.active.selector-add:focus, .active.selector-add:hover {
    background-position: 0 -80px;
}

.selector-remove {
    background: url(../img/selector-icons.svg) 0 -96px no-repeat;
}

.active.selector-remove:focus, .active.selector-remove:hover {
    background-position: 0 -112px;
}

a.selector-chooseall {
    background: url(../img/selector-icons.svg) right -128px no-repeat;
}

a.active.selector-chooseall:focus, a.active.selector-chooseall:hover {
    background-position: 100% -144px;
}

a.selector-clearall {
    background: url(../img/selector-icons.svg) 0 -160px no-repeat;
}

a.active.selector-clearall:focus, a.active.selector-clearall:hover {
    background-position: 0 -176px;
}

.inline-deletelink {
    float: left;
}

form .form-row p.datetime {
    overflow: hidden;
}

.related-widget-wrapper {
    float: right;
}

/* MISC */
.inline-related h2, .inline-group h2 {
    text-align: right;
}

.inline-related h3 span.delete {
    padding-right: 20px;
    float: left;
}

.inline-related h3 span.delete label {
    margin-right: 2px;
}

.inline-group .tabular td.original p {
    right: 0;
}

.selector .selector-chooser {
    margin: 0;
}
