<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Enock Shopping Center</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'shop:home' %}" class="nav-button">Home</a></li>
                
        {% if user.is_authenticated %}
            <div class="profile-picture">
                <img src="{% static 'images/profile_picture.jpg' %}" alt="Profile Picture">
            </div>
        {% endif %}
    </header>

    <div class="form-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'shop:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'shop:register' %}">Register here</a>.</p>
    </div>
    
    <footer>
        <div class="footer-container">
            <h2>Contact Us</h2>
            <section class="contact-info">
                <address>
                    <p>Email: <a href="mailto:info@enochshopping.com">info@enochshopping.com</a></p>
                    <p>Phone: (256) 756679314</p>
                    <p>Address: Kampala, Uganda, Shopping City.</p>
                </address>
            </section>
            <p>&copy; 2024 Enock Shopping Center. All rights reserved.</p>
            <p>
                <a href="{% url 'shop:contact' %}">Contact Us</a> | 
                <a href="{% url 'shop:about' %}">About Us</a>
            </p>
        </div>
    </footer>
</body>
</html>
