{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTN Mobile Money Info</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>MTN Mobile Money API Response</h1>
        {% if response %}
            <h2>Provider Callback Host: {{ response.providerCallbackHost }}</h2>
            <h2>Target Environment: {{ response.targetEnvironment }}</h2>
        {% else %}
            <h2>No response available.</h2>
        {% endif %}
        <a href="{% url 'shop:home' %}">Go back to home</a>
    </div>
</body>
</html>
