<!-- wishlist.html -->
{% extends "shop/base.html" %}

{% block content %}
    <h1>Your Wishlist</h1>
    <p>Here you can manage your saved items.</p>

    <a href="{% url 'shop:notification' %}" class="btn"> Notifications</a>

    {% if wishlist_items %}
        <ul class="wishlist-items">
            {% for item in wishlist_items %}
                <li>
                    <div class="wishlist-item">
                        <img src="{{ item.image_url }}" alt="{{ item.name }}">
                        <h3>{{ item.name }}</h3>
                        <p>Price: {{ item.price }}</p>
                        <a href="{% url 'shop:product_detail' item.id %}" class="btn">View Item</a>
                        <form method="POST" action="{% url 'shop:remove_from_wishlist' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-remove">Remove</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your wishlist is empty. Start adding items!</p>
        <p>Stay tuned for updates on your wishlist items, such as price drops!</p>
    </div>
    {% endif %}


{% endblock %}
